Client/Connected Services/Service/Service2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Service" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Service" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="RouteSheet">
    <xs:sequence>
      <xs:element minOccurs="0" name="Barcode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RouteMarks" nillable="true" type="tns:ArrayOfRouteMark" />
      <xs:element minOccurs="0" name="RouteSheetId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RouteSheet" nillable="true" type="tns:RouteSheet" />
  <xs:complexType name="ArrayOfRouteMark">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="RouteMark" nillable="true" type="tns:RouteMark" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRouteMark" nillable="true" type="tns:ArrayOfRouteMark" />
  <xs:complexType name="RouteMark">
    <xs:sequence>
      <xs:element minOccurs="0" name="RouteMarkId" type="xs:int" />
      <xs:element minOccurs="0" name="RoutePoint" nillable="true" type="tns:RoutePoint" />
      <xs:element minOccurs="0" name="RoutePointId" type="xs:int" />
      <xs:element minOccurs="0" name="RouteSheet" nillable="true" type="tns:RouteSheet" />
      <xs:element minOccurs="0" name="RouteSheetId" type="xs:int" />
      <xs:element minOccurs="0" name="Stamp" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RouteMark" nillable="true" type="tns:RouteMark" />
  <xs:complexType name="RoutePoint">
    <xs:sequence>
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RouteMarks" nillable="true" type="tns:ArrayOfRouteMark" />
      <xs:element minOccurs="0" name="RoutePointId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RoutePoint" nillable="true" type="tns:RoutePoint" />
  <xs:complexType name="ArrayOfRouteSheet">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="RouteSheet" nillable="true" type="tns:RouteSheet" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRouteSheet" nillable="true" type="tns:ArrayOfRouteSheet" />
  <xs:complexType name="ArrayOfRoutePoint">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="RoutePoint" nillable="true" type="tns:RoutePoint" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRoutePoint" nillable="true" type="tns:ArrayOfRoutePoint" />
</xs:schema>