Client/Connected Services/Service/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/Service" />
  <xs:element name="InsertRouteSheet">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Service" minOccurs="0" name="routeSheet" nillable="true" type="q1:RouteSheet" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertRouteSheetResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertRouteSheetResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateRouteSheet">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Service" minOccurs="0" name="routeSheet" nillable="true" type="q2:RouteSheet" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateRouteSheetResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteRouteSheet">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="routeSheetId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteRouteSheetResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadRouteSheetList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="periodBegin" type="xs:dateTime" />
        <xs:element minOccurs="0" name="periodEnd" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadRouteSheetListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Service" minOccurs="0" name="LoadRouteSheetListResult" nillable="true" type="q3:ArrayOfRouteSheet" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertRouteMark">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Service" minOccurs="0" name="routeMark" nillable="true" type="q4:RouteMark" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertRouteMarkResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertRouteMarkResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateRouteMark">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Service" minOccurs="0" name="routeMark" nillable="true" type="q5:RouteMark" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateRouteMarkResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteRouteMark">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="routeMarkId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteRouteMarkResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadRouteMarkList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="routeSheetId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadRouteMarkListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Service" minOccurs="0" name="LoadRouteMarkListResult" nillable="true" type="q6:ArrayOfRouteMark" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertRoutePoint">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Service" minOccurs="0" name="routePoint" nillable="true" type="q7:RoutePoint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertRoutePointResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertRoutePointResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateRoutePoint">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Service" minOccurs="0" name="routePoint" nillable="true" type="q8:RoutePoint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateRoutePointResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteRoutePoint">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="routePointId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteRoutePointResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadRoutePointList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadRoutePointListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Service" minOccurs="0" name="LoadRoutePointListResult" nillable="true" type="q9:ArrayOfRoutePoint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>